<div class="container main">
    <div class="card-article">
        <div class="row">
            <article class="information" class="col-sm-12 col-xl-8">
                <h2>LA HISTORIA DETRÁS DE LOS PECADOS DE ELI</h2>
                <p class="paragraph">
                    “Nunca fue tan fácil mirar hacia atrás”, con esta frase empezó a contar su historia la dueña del negocio “Los Pecados de Eli”, Elizabeth Sarango Paredes, una mujer lojana emprendedora y trabajadora que vive en la actualidad en la ciudad de Guayaquil, 
                    ella evocó que todo empezó en su cabeza, tenía muchas ideas acerca de emprendimientos que quería ejecutar, pero no los ponía 
                    en práctica debido al temor a intentar y que no funcione. Sin embargo, un buen día su esposo recibió la noticia de que ya no 
                    seguiría laborando en el trabajo que había desempeñado por más de 22 años para la Municipalidad de Guayaquil y que tampoco 
                    recibiría liquidación alguna por sus servicios, este infortunio los impactó de tal manera que los obligó a ella y a toda su 
                    familia a salir de su zona de confort.<br/><br/>
                    Además agrega que este no es un negocio cualquiera, sino un emprendimiento familiar, en donde inicialmente no se llamaba los 
                    Pecados de Eli, ni siquiera tenía un nombre definido, gracias a los estudios de su hija, ellos lograron encontrar un nicho de 
                    mercado en donde el target al que atacaban eran estudiantes universitarios vespertinos y nocturnos, se enfocaron en satisfacer 
                    una necesidad, brindar productos de calidad a precios accesibles, su hija ayudó promocionando y vendiendo sus productos en su 
                    lugar de establecimiento, el Tecnológico Espíritu Santo (TES), en ese tiempo su comida fue un éxito rotundo debido a sus precios 
                    y la flexibilidad de entrega, ya que sus clientes no necesitaban trasladarse para poder degustar una empanada o un sánduche, 
                    su hija les ahorraba el camino, no sólo era una estudiante sino además vendedora y emprendedora.<br/><br/>
                    Con el tiempo el negocio fue creciendo y su hija convirtió el emprendimiento en un proyecto de aula de clase, en la cual desarrolló
                    identidad e imagen corporativa, material publicitario, paleta de colores, manual de marca, campañas comunicacionales y  por primera 
                    vez le dieron un nombre, “Empanadas Eli”, con el eslogan “Con auténtico sabor a casa”, esto inicialmente se había pensado porque la 
                    persona encargada de preparar los productos era la misma propietaria y ella como madre entendía que hay personas que desean volver a
                    probar comida que les recuerda a su niñez, puede ser la empanada que preparaba la abuelita o su mamá, esto ya no era sólo una idea, 
                    se había hecho realidad.<br/><br/>
                    Su gama de productos se basaba en empanadas con variedad de tipos de relleno, entre ellos: de carne, pollo, pizza, taco, queso, queso
                    con mortadela, sánduches de atún y de pollo, con el tiempo cambiaron el nombre de la marca a “Los Pecados de Eli” con el eslogan 
                    “Sería un pecado no probarlos” y fueron integrando nuevos productos tales como: hamburguesas, muchines, tortillas de verde, a su vez 
                    no descartan ampliar su línea de productos, ambicionan no sólo tener una línea salada sino también crear una línea dulce y poder tener
                    un local físico.<br/><br/>
                </p>
            </article>
            <aside class="center col-sm-12 col-xl-4">
                <iframe width="320" height="610" src="https://www.instagram.com/p/CByM0Nbh-Wf/embed/" frameborder="0"></iframe>    
            </aside>
        </div>
    </div>
    <br>
    <iframe
        class="container"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.1189344398354!2d-79.96017358524492!3d-2.107744898463547!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMsKwMDYnMjcuOSJTIDc5wrA1NycyOC44Ilc!5e0!3m2!1ses!2sec!4v1593126224693!5m2!1ses!2sec"
        height="450"
        frameborder="0"
        style="border:0;"
        allowfullscreen=""
        aria-hidden="false" 
        tabindex="0">
    </iframe>
</div>