<aside class="menu" [ngClass]="{wraper: seen}" *ngIf="router.url.includes('/admin')">
    <div class="logo">
        <img src="../../../assets/images/logo_2.png" alt="logo">
    </div>
    
    <ul class="options">
        <p class="title">Desarrollo</p>
        <a href="" [routerLink]="['admin/order']"><li class="hover-button title"><i class="fas fa-hamburger"></i>Ordenes pendiste</li></a>
        <a href="" [routerLink]="['admin/overview']"><li class="hover-button title"><i class="fas fa-home"></i>Información general</li></a>
        <a href="" [routerLink]="['admin/control']"><li class="hover-button title"><i class="fas fa-cogs"></i>Procesos</li></a>
        <a href="" [routerLink]="['admin/report']"><li class="hover-button title"><i class="fas fa-chart-bar"></i>Reportes</li></a>
    </ul>
    <div class="hover-button title d-flex justify-content-end" (click)="toggleNoSeen()">
        <i class="fas fa-angle-left "></i>
    </div>
</aside>

<div class="toggler" *ngIf="router.url.includes('/admin')">
    <i *ngIf="seen" class="fas fa-bars" (click)="toggleSeen()"></i>
</div>