.wait{
    text-align: center;

    animation: circle 3s infinite;
    animation-timing-function: linear;
}

.firweworks{
    display: inline-block;
    width: 25vh;
    height: 25vh;

    background-image: url('../../../assets/images/loading.png');
    background-size: 800%;
    background-position: right;

    animation-name: move;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;

    animation-timing-function: steps(8);
}

@keyframes move{
    from{background-position-x:0px;}
    to{background-position-x:-200vh;}
}

@keyframes circle{
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}