<footer class="footer" *ngIf="!router.url.includes('/admin')">
    <div class="container page-footer font-small pt-4">
      <div class="container text-center text-md-left">
        <div class="row">
          <div class="col-md-7 mt-md-0 mt-3 direction-colunm">
            <h5 class="text-uppercase">Pecados de eli</h5>
            <img class="logo-foot" src="../assets/images/logo_2.png" alt="logo">
  
            <div class="d-flex justify-content-center" style="display: inline-block;">
              <a class="social" href="https://www.instagram.com/lospecadosdeeli/" target="_blank">
                <i class="social fab fa-twitter"></i>
              </a>
              <a class="social" href="https://www.instagram.com/lospecadosdeeli/" target="_blank">
                <i class="social fab fa-facebook-square"></i>
              </a>
              <a class="social" href="https://www.instagram.com/lospecadosdeeli/" target="_blank">
                <i class="social fab fa-instagram"></i>
              </a>
            </div>
          </div>
          <div class="col-md-5 mb-md-0 mb-3">
            <h5 class="text-uppercase">Enlaces</h5>
            <ul class="list-unstyled">
              <li *ngFor="let link of links" (click)="onActivate()">
                <a class="nav-link footer" href="" [routerLink]="link.fragment">{{link.title}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a class="nav-link footer" target="_blank" href="https://github.com/edangonz"> edangonz</a>
      </div>
    </div>
  </footer>
  