<div class="direction-colunm" style="position: relative;">
    <ng-container *ngIf="!seen_register; else register">
        <h3>Inicia sesión</h3>
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin(loginForm.value)" (click)="noSeenMessage()">    
            <div class="form-group">
                <label for="email">Username:</label>
                <input type="text" class="form-control" formControlName="email" id="email" placeholder="Ingrese su usuario" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" formControlName="password" id="password" placeholder="Ingrese su contraseña" required>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="blockButton">Ingresar</button>
        </form>
        <span class="message">¿No tienes cuenta?</span><span class="under-text" (click)="toggle()">Regístrate</span>
    </ng-container>
    <ng-template #register>
        <h3>Registrar cuenta</h3>
        <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister(registerForm.value)" (click)="noSeenMessage()">    
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" formControlName="email" id="email" placeholder="Ingrese su email" required>
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" formControlName="username" id="username" placeholder="Ingrese su usuario" required>
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" formControlName="password" id="password" placeholder="Ingrese su contraseña" required>
            </div>
            <div class="form-group">
                <label for="password">Repetir contraseña:</label>
                <input type="password" class="form-control" formControlName="repeatpassword" id="repeatpassword" placeholder="Vuelva a ingresar su contraseña" required>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="blockButton">Registrarse</button>
        </form>
        <span class="message">¿Ya tienes cuenta?</span><span class="under-text" (click)="toggle()">Inicia sesión</span>    
    </ng-template>
    <ng-container *ngIf="appService.error$ as message">
        <span class="message" style="color: red;" *ngIf="blockButton">{{message}}</span>
    </ng-container>
    <div class="btn-close" (click)="activeModal.close()"><i class="far fa-times-circle"></i></div>
</div>
