:root {
  --color: #532223;
  --color2: #ab0a0d;
  --color3: #e35254;

  --color-secondary: #532223;
  --color-primary: #ab0a0d;
  --color-tertiary: #e35254;
}

$color-primary: #ab0a0d;
$color-secondary: #532223;
$color-tertiary: #e35254;